extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	section.slide
		.container-fluid
			.row
				.col.no-gutter.owl-carousel.owl-theme
					.item
						figure
							img(src="./img/bg.png", alt="").img-fluid
							figcaption
								h2 Lorem Lorem Lorem
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta numquam distinctio praesentium! Beatae ullam fugiat quos aliquid facere praesentium animi numquam sunt! Id eligendi ab nobis expedita rem at reprehenderit.
								.btn
									a(href="#") Click Here
					.item
						figure
							img(src="./img/bg.png", alt="").img-fluid
							figcaption
								h2 Lorem Lorem Lorem
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta numquam distinctio praesentium! Beatae ullam fugiat quos aliquid facere praesentium animi numquam sunt! Id eligendi ab nobis expedita rem at reprehenderit.
								.btn
									a(href="#") Click Here
					.item
						figure
							img(src="./img/bg.png", alt="").img-fluid
							figcaption
								h2 Lorem Lorem Lorem
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta numquam distinctio praesentium! Beatae ullam fugiat quos aliquid facere praesentium animi numquam sunt! Id eligendi ab nobis expedita rem at reprehenderit.
								.btn
									a(href="#") Click Here
	section.block2
		.container
			.row
				.col
					.text
						h3 WHY
							span  Choose US
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab, corporis a deleniti laborum culpa iusto tempora neque qui cum eos voluptas ratione similique sunt, perferendis facilis ipsa modi! Veniam, quis!
			.row
				.col-md-4
					figure
						img(src="./img/logo_book.png", alt="").img-fluid
						figcaption
							h2 ABC ABC ABC
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint pariatur corporis labore dolor sapiente iste non quibusdam vero nihil. Nisi ipsum maiores numquam dolor quidem aut sint sit iste obcaecati?
				.col-md-4
					figure
						img(src="./img/logo_computer.png", alt="").img-fluid
						figcaption
							h2 ABC ABC ABC
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint pariatur corporis labore dolor sapiente iste non quibusdam vero nihil. Nisi ipsum maiores numquam dolor quidem aut sint sit iste obcaecati?
				.col-md-4
					figure
						img(src="./img/logo_porfolio.png", alt="").img-fluid
						figcaption
							h2 ABC ABC ABC
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint pariatur corporis labore dolor sapiente iste non quibusdam vero nihil. Nisi ipsum maiores numquam dolor quidem aut sint sit iste obcaecati?
	section.block3
		.container
			.row
				.col-md-6
					.text1
						h3 WHY 
							span  CHOOSE US
						p.title Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ullam quae minima aut commodi quis officia et 
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis nulla unde ex laboriosam optio dolorum voluptas nesciunt ducimus natus. Odit, 
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis nulla unde ex laboriosam optio dolorum voluptas nesciunt ducimus natus. Odit, 
						.btn
							a(href="#") Xem Them
				.col-md-6
					.text2
						.scollbar
							p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem voluptas laudantium deserunt, enim excepturi, nostrum commodi aliquam odit perspiciatis eaque reprehenderit voluptate quas hic aliquid vero placeat, doloremque omnis magnam!
							p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe ut deleniti unde. Saepe delectus aliquam, iste est inventore dolore ipsum soluta et neque, quidem quos magnam enim voluptatum ducimus vero?
							p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe ut deleniti unde. Saepe delectus aliquam, iste est inventore dolore ipsum soluta et neque, quidem quos magnam enim voluptatum ducimus vero?
							p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe ut deleniti unde. Saepe delectus aliquam, iste est inventore dolore ipsum soluta et neque, quidem quos magnam enim voluptatum ducimus vero?
							p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe ut deleniti unde. Saepe delectus aliquam, iste est inventore dolore ipsum soluta et neque, quidem quos magnam enim voluptatum ducimus vero?
